In [6]:
import pandas as pd

In [7]:
data = {
    "user_id": [1, 2, 3, 4, 5],
    "username": ["alice", "bob", "charlie", "diana", "eve"],
    "likes": [10, 5, 23, 7, 15],
    "comments": [2, 0, 5, 1, 3],
    "platform": ["Twitter", "Instagram", "Twitter", "TikTok", "Instagram"]
}

# DataFrame erstellen
df = pd.DataFrame(data)

In [8]:
df

   user_id username  likes  comments   platform
0        1    alice     10         2    Twitter
1        2      bob      5         0  Instagram
2        3  charlie     23         5    Twitter
3        4    diana      7         1     TikTok
4        5      eve     15         3  Instagram

In [9]:
import numpy as np

In [10]:
array = np.array([1,2,3,4])
array

array([1, 2, 3, 4])

In [11]:
array

array([1, 2, 3, 4])

In [12]:
array[1]

np.int64(2)